body{
	min-width: 300px;
}

h1{
	margin-top: 10px;
}

section{
	margin-bottom: 50px;
}

/*Bootstrap*/
.jumbotron{
	background-color: #fff; 
	margin: 0;
	padding: 10px 0 10px 0;
}

.navbar{
	border-radius: 0;
}

#inlineRadio{
	margin: auto;
}